#aspiradora{
    max-width: 20%;
    max-height: 20%;
    position: absolute;
        left: 50px; 
        top: 50%;
        transform: translateY(0%);
}



#trashA1,#trashA2,#trashA3,#trashA4,#trashB1,#trashB2,#trashB3,#trashB4{
    max-width: 50%;
    max-height: 50%;
    visibility: hidden;
}

body{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

#chargingStation {
    width: 150px;
    height: 150px;
    border-radius: 20px; /* Redondear bordes */
    background-color: #ccc;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Añadir sombra */
}


#sectorA, #sectorB{
    position: relative;
    border: 8px solid white;
    border-radius: 40px;
    height: 400px;
    width: 400px;
}

#SectorAfila1,#SectorAfila2,#SectorBfila1,#SectorBfila2{
    height: 190px;
    width: 390px;
}

#SectorA1,#SectorA2,#SectorA3,#SectorA4,#SectorB1,#SectorB2,#SectorB3,#SectorB4{
    height: 190px;
    width: 390px;
}

.title {
    position: absolute;
    width: 150px;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
}
#chargingStationTitle {
    top: -75px;
    left: 05px;
}
#sectorATitle {
    top: -50px;
    left: 20px;
}
#sectorBTitle {
    top: -50px;
    right: 20px;
}